{% extends 'base.html.twig' %}

{% block title %}Cakes{% endblock %}

{% block body %}

        <div class="top-part__container">
            <div id="product-carousel">
                <img src="{{ asset('asset/assets/Product-pictures/raw-vegan-candies-c-with-dried-fruit-coconut_82893-397.jpg') }}" alt="promotional product">
                <div class="description">
                    <p id="promo-desc"><< Promo Carousel PH >></p>
                </div>
            </div>
            
                
        </div>
       
<div class="bottom-part__container">

    {% for product in products %}
        <a href="{{ path('product', {'id': product.id}) }}" class="product">
            <div class="product-item">
                <img src="{{ asset('uploads/images/products/'~ product.icon) }}" atl="{{ product.imgAlt }}">
                <div class="name">
                    <h1>{{ product.title }}</h1>
                </div>
                <div class="description">
                    <p class="product-description">{{ product.shortDescription }}</p>
                    <p class="product-price">{{ product.priceEuro }}<sup>{{ product.priceCentime }}</sup> &euro;</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}