{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}

<div class="form__picture">
    <img src="{{ asset('asset/assets/Product-pictures/gluten-free.png') }}" alt="beatuiful picture">

    <div class="form__container">
        {{ form_start(form) }}
            <p>
            {{ form_label(form.name, 'Your Name') }}
            {{ form_widget(form.name, {
                        'attr': {
                        'placeholder': 'How do we address you?',
                        }
                    })
                    }}
            </p>
            <p>
            {{ form_label(form.email, 'Your Email') }}
            <section id="asterisk">Please choose the contact method that is the most convenient for <strong>you</strong>!</label></section>
            {{ form_widget(form.email, {
                        'attr': {
                        'placeholder': 'e.g. sarah@gmail.com',
                        }
                    })
                    }}
            </p>
            <p>
            {{ form_label(form.phone_number, 'Your Phone Number') }}
            <section id="asterisk">Please choose the contact method that is the most convenient for <strong>you</strong>!</label></section>
            {{ form_widget(form.phone_number, {
                        'attr': {
                        'placeholder': '06 01 00 00 00',
                        }
                    }) }}
            </p>
            <p>
            {{ form_label(form.text, 'Your Message') }}
            {{ form_widget(form.text, {
                        'attr': {
                        'placeholder': 'Would you like to order something? Do you need our advice?',
                        }
                    })
                    }}
            </p>
            <button class="btn">{{ button_label|default('Send us a message!') }}</button>
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}