{% extends 'base.html.twig' %}

{% block title %}Au'raw - Contact us{% endblock %}

{% block body %}

<div class="form__picture">
    <img src="{{ asset('static_pics/low-cal.jpg') }}" alt="beatuiful picture">

    <div class="form__container">
        {{ form_start(form) }}
            <p>
            {{ form_label(form.name, 'Your Name') }}
            {{ form_widget(form.name, {
                        'attr': {
                        'placeholder': 'How do we address you?',
                        }
                    })
                    }}
            {{ form_errors(form.name) }}
            </p>
            <br>
            <p>
            {{ form_label(form.email, 'Your Email') }}
            <section id="asterisk">Please, provide at least your emailn so we can get back to you!</label></section>
            {{ form_widget(form.email, {
                        'attr': {
                        'placeholder': 'e.g. sarah@gmail.com',
                        }
                    })
                    }}
            {{ form_errors(form.email) }}
            </p>

            <p>
            {{ form_label(form.phone_number, 'Your Phone Number') }}
            <section id="asterisk">If you prefer us to call you, make sure to provide your phone number too!</label></section>
            {{ form_widget(form.phone_number, {
                        'attr': {
                        'placeholder': '06 01 00 00 00',
                        }
                    }) }}
            {{ form_errors(form.phone_number) }}
            </p>
            <br>
            <p>
            {{ form_label(form.text, 'Your Message') }}
            {{ form_widget(form.text, {
                        'attr': {
                        'placeholder': 'Would you like to order something? Do you need our advice?',
                        }
                    })
                    }}
            {{ form_errors(form.text) }}
            </p>
            <button class="btn">{{ button_label|default('Send us a message!') }}</button>
        {{ form_end(form) }}

    </div>
</div>

{% endblock %}