{% extends 'base.html.twig' %}

{% block title %}Au raw home{% endblock %}

{% block body %}
<div class="top-part__container">
    <div id="promo">
        {% if products|length > 3 %}
               <!-- Slideshow container -->
                <div class="slideshow-container">
                    {% for i in 0..3 %}
                    <!-- Full-width images with number and caption text -->
                
                    <div class="mySlides fade">
                        <div class="numbertext">{{ i + 1 }} / 4</div>
                            <a href="{{ path('product', {'id': products[i].id}) }}">
                                <img src="{{ asset('uploads/images/products/'~ products[i].icon) }}" atl="{{ products[i].imgAlt }}">
                            </a>
                        <div class="text">{{products[i].title}}</div>
                    </div>
                    {% endfor %}
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                
                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        {% endif %}
            <div id="sections">
                <div class="sections__tiles">
                    <div id="selection gluten-free">
                        <a href="{{ path('products_by_tag', {'id': 4}) }}">
                            <img src="{{ asset('static_pics/gluten-free-small12345.png') }}" alt="gluten-free desserts selection">
                        </a>
                    </div>
                    
                    <div id="selection nuts-free">
                        <a href="{{ path('products_by_tag', {'id': 1}) }}">
                            <img src="{{ asset('static_pics/nuts-free-small122345.png') }}" atl="no nuts desserts selection">
                        </a>
                    </div>
<!--
                    <div id="selection cocoa-free">
                        <img src="assets/Product-pictures/Final/cocoa-free.png" alt="cocoa-free desserts selection">
                    </div>
-->
                    <div id="selection low-cal">
                        <a href="{{ path('products_by_tag', {'id': 2}) }}">
                            <img src="{{ asset('static_pics/low-cal-small12345.png') }}" alt="low-calorie dessers selection">
                        </a>
                    </div>
            </div>
        </div>
</div>

<div class="bottom-part__container">
<div class="selection-description">
                <h1>The Best of Our Desserts</h1>
                <p>The marriage of freshest fruit, berries, and nuts gave birth to these wonderfully fresh and healthy desserts. Made with love and passion, they will certainly bring you joy!</p>
                <p>You can order them by sending us a message, giving us a call, or simply by dropping by our shop in Paris. We will be happy to answer all and any of your questions and guide you down the path of naturally good desserts!</p>
            </div>
        
{% for product in products %}
    <a href="{{ path('product', {'id': product.id}) }}" class="product">
        <div class="product-item">
            <img src="{{ asset('uploads/images/products/'~ product.icon) }}" atl="{{ product.imgAlt }}">
            <div class="name">
                <h1>{{ product.title }}</h1>
            </div>
            <div class="description">
                <p class="product-description">{{ product.shortDescription }}</p>
            </div>
                <p class="product-price">{{ product.priceEuro }}<sup>{{ "%02d"|format(product.priceCentime) }}</sup> &euro; <em>/ {{ product.unit.title }}</em></p>
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}
