{% extends 'base.html.twig' %}

{% block title %}Au raw home{% endblock %}

{% block body %}
<div class="top-part__container">
    <div id="promo">
        <img src="{{ asset('asset/assets/Product-pictures/promo.jpg') }}" alt="promotional product">
        <div class="description">
            <p id="promo-desc"><< Promo Carousel PH >></p>
        </div>
    </div>
   
    <div id="sections">
        <div class="sections__tiles">
            <div id="selection gluten-free">
                <img src="{{ asset('asset/assets/Product-pictures/gluten-free.png') }}" alt="gluten-free desserts selection">
                <p class="section-tag">gluten-free</p>
            </div>
            
            <div id="selection nuts-free">
                <img src="{{ asset('asset/assets/Product-pictures/nuts-free-cocoa.jpg') }}" atl="no nuts desserts selection">
                <p class="section-tag">nuts-free</p class="section-tag">
            </div>
            <div id="selection cocoa-free">
                <img src="{{ asset('asset/assets/Product-pictures/nuts-free.gif') }}" alt="cocoa-free desserts selection">
                <p class="section-tag">cocoa-free</p class="section-tag">
            </div>
            <div id="selection low-cal">
                <img src="{{ asset('asset/assets/Product-pictures/low-cal.jpg') }}" alt="low-calorie dessers selection">
                <p class="section-tag">low-calorie</p class="section-tag">
            </div>
        </div>
    </div>
</div>

<div class="bottom-part__container">
{% for product in products %}
    <a href="{{ path('product', {'id': product.id}) }}" class="product">
        <div class="product-item">
            <img src="{{ asset('asset/assets/Product-pictures/strawberry-shortcake-bars-update.jpg') }}" atl="no nuts desserts selection">
            <div class="name">
                <h1>{{ product.title }}</h1>
            </div>
            <div class="description">
                <p class="product-description">{{ product.shortDescription }}</p>
                <p class="product-price">{{ product.price }} &euro;</p>
            </div>
        </div>
    </a>
{% endfor %}
</div>
{% endblock %}
